.input {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    display: block;
    border: 1px solid #97999a;
    border-radius: 20px;
}


.submitButton, .copyButton {
    padding: 1.2rem 3rem;
    border: 0;
    font-family: inherit;
    background: #061420;
    color: #fff;
    font-size: 1.1rem;
    cursor:pointer;
    border-radius: 20px;
    font-weight: 200;
    text-transform: uppercase;
}

.copyButton {
    background: rgb(43, 102, 153);
}

.submitButton[disabled] {
    opacity: 0.25;
    color: gray;
}

.label {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    display: block;
    text-transform: uppercase;
}

.loading {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    animation: spin 1.5s linear infinite;
  }

  .inputforma {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Make sure the button can accommodate the spinner */
  .submitButton {
    /* ...existing styles... */
    display: flex;
    align-items: center;
    justify-content: center;
  }