@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d8d8d8;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotate 2s linear infinite;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

@media (max-width: 768px) {
  .menu-responsivo ul li a {
    background: #0c141f;
    border-bottom: none;
    padding: 15px 10px;
    border-bottom: 1px solid #1f324b;
    transition: all 1s;
  }
  .menu-responsivo ul li a:hover {
    color: #1f324b;
  }
  .menu-responsivo ul button {
    width: 100%;
    display: block;
    display: flex;
    background: #0c141f;
    padding: 10px 8px;
    border-bottom: 1px solid #1f324b;
  }
}